* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  font-family: poppins;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-color: rgb(234, 240, 247);
  box-sizing: border-box;
}

/* ----------------------- *\
        menu design
\* ----------------------- */

.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: #562eff;
}
header .menu {
  width: 65%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.main__content,
.latest__courses {
  padding: 30px;
}
.menu .menu__brand {
  width: 40px;
  height: 51px;
  padding: 20px 0px;
}
.menu .menu__brand img {
  width: 100%;
  height: 100%;
}
.menu .menu__nav ul {
  display: flex;
  align-items: center;
}
.menu .menu__nav {
  height: 53px;
}
.menu .menu__nav ul li {
  display: inline-block;
}
.menu .menu__nav ul li a {
  color: white;
  margin-left: 25px;
}

/* ----------------------- *\
        Top Players
\* ----------------------- */
.main__content,
.latest__courses {
  background-color: white;
  width: 60%;
  margin: 36px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(237, 246, 249);
}
.top-players h1 {
  color: #562eff;
  font-size: 24px;
  font-weight: 400;
}
.top-players p {
  font-size: 16px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-gap: 30px;
  margin-top: 40px;
}
.players .top-player {
  display: flex;
  align-items: center;
}
.players .top-player .image {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}
.players .top-player .image img {
  width: 100%;
  height: 100%;
}
main hr {
  border: 1px solid rgb(182, 182, 182);
  margin-top: 30px;
}

/* ----------------------- *\
        Blog part design
\* ----------------------- */

.all__blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.top-blogs h1 {
  color: #562eff;
  font-size: 24px;
  font-weight: 400;
  margin: 30px 0px;
}
.all__blogs .top-blog {
  display: flex;
  align-items: center;
}
.all__blogs .top-blog .image {
  width: 177px;
  height: 117px;
  margin-right: 16px;
}
.all__blogs .top-blog .image img {
  width: 177px;
  height: 117px;
}
.top-blog .blog__info p {
  font-size: 16px;
  font-weight: 400;
}
.top-blog .blog__info span {
  font-size: 12px;
  color: gray;
}

/* ----------------------- *\
        Latest Course
\* ----------------------- */
.latest__courses {
  margin-top: 20px;
}
.latest__courses h1 {
  color: #562eff;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
.latest__course {
  box-shadow: 0px 0px 5px #dadada;
  padding: 10px;
  border-radius: 10px;
}
.latest__courses .all_courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.latest__course .image img {
  width: 100%;
  height: 100%;
}
.course__info p {
  margin-top: 15px;
  width: 95%;
  font-size: 16px;
  font-weight: 400;
}
.course__info a {
  font-size: 12px;
  color: #ed6b4f;
}
.course__heilight {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course__heilight .course__rating span {
  color: #ffc014;
  font-size: 14px;
}
.course__heilight .course__rating span.empty {
  color: #aeaeae;
}
.course__heilight .course__duration {
  background-color: #ffe4e8;
  padding: 5px 10px;
  border-radius: 20px;
  color: #ff4a60;
}
.course__heilight .course__duration span {
  font-size: 14px;
}
.course__heilight .course__duration i {
  margin-right: 10px;
}

/* ----------------------------------------------- *\
        max width 688 mobile device responsive
\* ----------------------------------------------- */

@media screen and (max-width: 688px) {
  .players,
  .top-player {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
